$PrimaryMintTeal: #6cc0c0;
$SecondaryPurple: #93278f;
$SecondaryPurpleLight: #bb32b6;

$PaleGray: #d3d3d3;
$LightGrey: #999999;
$DarkGray: #4d4d4d;

$DarkBlue: #1b1464;
$LightBlue: #7ac1ed;

$DarkGold: #d4bc72;