/**************** BEGIN APP.SCSS *******************/
/* BEGIN Google Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/Material-Icons-v7.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-30 {
  font-size: 30px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* END Google Material Icons */
/* mdl-layout Customizations */
.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0;
  width: 100%; }

.mdl-layout__header {
  background-color: #6cc0c0; }
  .mdl-layout__header .mdl-layout-title {
    height: 100%; }
    .mdl-layout__header .mdl-layout-title .lanoda-header-logo {
      box-sizing: border-box;
      padding: 15px;
      height: 100%; }
  .mdl-layout__header .mdl-layout__drawer-button {
    box-sizing: border-box;
    margin: 0;
    padding-left: 16px;
    padding-top: 16px; }
  .mdl-layout__header .mdl-layout__header-row {
    padding-left: 30px;
    padding-right: 60px; }
    .mdl-layout__header .mdl-layout__header-row .profile-icon .mdl-menu__container {
      right: 30px !important; }

.mdl-layout.modal-open .background-shadow {
  display: block; }

.mdl-layout.modal-open.is-small-screen .background-shadow {
  top: -56px;
  height: calc(100% + 56px); }

.mdl-layout.modal-open .mdl-layout__header {
  z-index: 1; }

.mdl-layout.modal-open .mdl-layout__content {
  z-index: 5;
  overflow-y: visible;
  overflow-x: visible; }

.mdl-layout__drawer {
  padding: 15px; }
  .mdl-layout__drawer .close-drawer-button {
    display: none; }

.mdl-textfield__label:after {
  background-color: #fff; }

.mdl-button--fab.mdl-button--colored {
  background: #93278f; }
  .mdl-button--fab.mdl-button--colored:hover {
    background: #93278f; }

.mdl-button--colored {
  color: white; }

.sub-header {
  margin: 20px auto;
  padding: 0 5% 0 5%; }

.sub-header-title {
  margin: 0;
  float: left;
  height: 48px;
  line-height: 48px;
  font-weight: 300; }

.hidden-menu {
  height: 0;
  overflow: hidden;
  transition: height 0.1s; }
  .hidden-menu.show {
    height: 36px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.background-shadow {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 5;
  position: absolute;
  top: -64px;
  left: 0;
  height: calc(100% + 64px);
  width: 100%; }

.modal {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 95%;
  background-color: #fff;
  transition: top 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.8, 0, 1);
  -webkit-transform: -webkit-translate3d(-50%, -200%, 0);
  transform: translate3d(-50%, -200%, 0); }
  .modal.show {
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }

.lanoda-textfield {
  margin-bottom: 20px;
  border-bottom: 1px solid white; }
  .lanoda-textfield input[type="text"],
  .lanoda-textfield input[type="email"],
  .lanoda-textfield input[type="phone"],
  .lanoda-textfield input[type="password"] {
    background: none;
    border: none;
    width: 100%;
    outline: none;
    padding: 10px;
    padding-left: 5px;
    color: white;
    font-size: 16px; }

.lanoda-checkbox {
  margin-top: 25px; }

.inline-block {
  display: inline-block; }

.normalize-link {
  text-decoration: none;
  color: black; }

.spinner-wrapper {
  box-sizing: border-box;
  padding-top: 60px; }

.dotted-button {
  font-size: 34px; }

.lanoda-expandlist-button {
  position: relative !important;
  top: 0;
  bottom: 0; }

.lanoda-form-card {
  overflow: visible; }

.lanoda-hide {
  display: none; }

.lanoda-left {
  float: left; }

.lanoda-right {
  float: right; }

.align-vertical-top {
  vertical-align: top; }

.align-vertical-middle {
  vertical-align: middle; }

.align-vertical-bottom {
  vertical-align: bottom; }

.text-capitalize {
  text-transform: uppercase; }

.text-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-black {
  color: black; }

.text-white {
  color: white; }

.text-darkgray {
  color: #4d4d4d; }

@media (min-width: 1025px) {
  .mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__drawer {
    margin-top: 80px;
    height: calc(100% - 80px); }
  .mdl-layout__header {
    min-height: 80px; }
    .mdl-layout__header .mdl-layout__drawer-button {
      display: none; }
    .mdl-layout__header .mdl-layout__header-row {
      margin-top: 8px;
      margin-bottom: 8px; } }

@media (max-width: 1024px) {
  .mdl-layout--fixed-drawer > .mdl-layout__drawer {
    margin-top: 0;
    height: 100%; }
  .mdl-layout__header .mdl-layout__header-row {
    padding-left: 50px;
    padding-right: 30px; }
    .mdl-layout__header .mdl-layout__header-row .search-bar form {
      margin: 0; }
    .mdl-layout__header .mdl-layout__header-row .search-bar .mdl-textfield {
      padding-top: 16px; }
  .mdl-layout:not(.mdl-layout--fixed-drawer) .mdl-layout__header .mdl-layout__header-row {
    padding-left: 15px; }
  .mdl-layout__drawer .close-drawer-button {
    display: inline; } }

/**************** END APP.SCSS *********************/

/**************** BEGIN AUTH.SCSS ******************/
html[class*="page-auth"] {
  /* Put background Image up */
  background-image: url("/img/background/login-signup.jpg");
  background-size: cover;
  /* Begin Styling actual content */
  /* Form-Styles */
  /* END Form-Styles */ }
  html[class*="page-auth"] .page-content {
    height: 100%; }
    html[class*="page-auth"] .page-content:before {
      content: " ";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.1);
      height: 100%;
      width: 100%; }
  html[class*="page-auth"] .mdl-layout__header {
    border-bottom: 6px solid #fff; }
  html[class*="page-auth"] .mdl-layout__content .page-content {
    height: calc(100% - 86px); }
  html[class*="page-auth"] .center-horizontal {
    height: 100%;
    width: 400px;
    max-width: 95%;
    margin: 0 auto; }
  html[class*="page-auth"] .center-vertical-wrapper {
    width: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    html[class*="page-auth"] .center-vertical-wrapper .center-vertical form {
      margin-bottom: 0; }
  html[class*="page-auth"] .error-message {
    margin-bottom: 20px;
    padding: 10px 5px;
    background-color: #950a00;
    border: 2px solid #af0c00; }
  html[class*="page-auth"] .lanoda-card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-bottom: 88px; }
    html[class*="page-auth"] .lanoda-card .bordered-area {
      border: 1px solid #6cc0c0;
      padding: 45px; }
    html[class*="page-auth"] .lanoda-card .control-area {
      border: 1px solid #6cc0c0;
      border-top: none; }
      html[class*="page-auth"] .lanoda-card .control-area button {
        display: inline-block;
        width: 50%;
        padding: 8px;
        border: none;
        outline: none;
        line-height: 20px;
        font-size: 20px;
        font-weight: 600;
        text-transform: lowercase;
        vertical-align: baseline;
        border-radius: 0; }
        html[class*="page-auth"] .lanoda-card .control-area button:hover {
          cursor: pointer; }
    html[class*="page-auth"] .lanoda-card .submit-button {
      background-color: white;
      color: #6cc0c0;
      margin-left: -2px; }
      html[class*="page-auth"] .lanoda-card .submit-button:hover {
        background-color: white; }
    html[class*="page-auth"] .lanoda-card .cancel-button {
      background-color: #6cc0c0;
      color: white;
      margin-right: -2px; }
      html[class*="page-auth"] .lanoda-card .cancel-button:hover {
        background-color: #6cc0c0; }
  html[class*="page-auth"] .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border-color: #6cc0c0; }
  html[class*="page-auth"] .mdl-checkbox.is-checked .mdl-checkbox__box-outline .mdl-checkbox__tick-outline {
    background-color: #6cc0c0; }
  html[class*="page-auth"] .mdl-checkbox .mdl-checkbox__box-outline {
    border: 2px solid;
    border-color: white; }
  html[class*="page-auth"] .mdl-checkbox .mdl-checkbox__ripple-container .mdl-ripple {
    background: #93278f; }
  @media (max-width: 1024px) {
    html[class*="page-auth"] .mdl-layout__content .page-content {
      height: calc(100% - 62px); }
    html[class*="page-auth"] .lanoda-card .bordered-area {
      padding: 10%; } }

/**************** END AUTH.SCSS ********************/

/**************** BEGIN CONTACT.SCSS ***************/
html[class*="page-contact"] {
  /* Note styles */ }
  html[class*="page-contact"] .mdl-layout__drawer .contact-image-wrapper {
    background-color: #999999;
    text-align: center;
    width: 100%;
    height: 190px;
    margin-bottom: 15px;
    box-sizing: border-box; }
    html[class*="page-contact"] .mdl-layout__drawer .contact-image-wrapper .contact-image {
      width: 100%;
      height: 100%; }
    html[class*="page-contact"] .mdl-layout__drawer .contact-image-wrapper .contact-icon {
      font-size: 180px;
      color: #4d4d4d; }
  html[class*="page-contact"] .profile-image-background {
    color: #999999;
    margin-top: 20px;
    width: 100%;
    height: 209px;
    padding: 15px;
    box-sizing: border-box; }
    html[class*="page-contact"] .profile-image-background .shadow-overlay {
      display: none; }
    html[class*="page-contact"] .profile-image-background:hover .shadow-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 100%; }
    html[class*="page-contact"] .profile-image-background .add-image-button {
      background-color: lightgray;
      font-weight: bold;
      height: 36px;
      margin-top: calc(50% - 18px); }
      html[class*="page-contact"] .profile-image-background .add-image-button:hover {
        background-color: #eaeaea;
        cursor: pointer; }
  html[class*="page-contact"] .profile-image-gray {
    position: relative;
    background-color: lightgray;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 3px; }
  html[class*="page-contact"] .menu-item {
    height: 24px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  html[class*="page-contact"] .contact-list {
    max-width: 1200px; }
  html[class*="page-contact"] .contact-list-cell {
    min-width: 190px;
    text-align: center; }
  html[class*="page-contact"] .contact-tile {
    position: relative;
    display: inline-block;
    width: 190px;
    height: 220px;
    margin: 10px auto;
    cursor: pointer; }
    html[class*="page-contact"] .contact-tile .contact-image-wrapper {
      background-color: #d3d3d3;
      text-align: center;
      width: 100%;
      height: 190px;
      margin-bottom: 15px;
      box-sizing: border-box; }
      html[class*="page-contact"] .contact-tile .contact-image-wrapper .contact-image {
        width: 100%;
        height: 100%; }
      html[class*="page-contact"] .contact-tile .contact-image-wrapper .contact-icon {
        font-size: 180px;
        color: #999999; }
    html[class*="page-contact"] .contact-tile .contact-plus {
      margin-top: -43px;
      background-color: #93278f; }
    html[class*="page-contact"] .contact-tile .contact-name {
      text-align: center;
      width: 100%;
      font-size: 18px;
      color: #93278f;
      box-sizing: border-box; }
    html[class*="page-contact"] .contact-tile:hover .contact-plus {
      background-color: #bb32b6; }
  html[class*="page-contact"] .modal {
    background-color: #fff;
    box-shadow: 0 0 8px 2px #3a3a3a;
    padding: 20px; }
    html[class*="page-contact"] .modal .heading {
      text-align: left;
      margin-top: 0;
      margin-left: 15px;
      color: #6cc0c0;
      font-weight: 600; }
  html[class*="page-contact"] .lanoda-form-card {
    width: 450px;
    max-width: 100%; }
    html[class*="page-contact"] .lanoda-form-card .lanoda-textfield {
      border-bottom: 1px solid #4d4d4d; }
      html[class*="page-contact"] .lanoda-form-card .lanoda-textfield input {
        color: black; }
    html[class*="page-contact"] .lanoda-form-card .lanoda-number {
      border-bottom: 1px solid #4d4d4d; }
      html[class*="page-contact"] .lanoda-form-card .lanoda-number input {
        border: none;
        outline: none;
        height: 45px;
        width: 100%;
        padding: 10px;
        padding-left: 5px; }
    html[class*="page-contact"] .lanoda-form-card .lanoda-datepicker {
      border-bottom: 1px solid #4d4d4d; }
      html[class*="page-contact"] .lanoda-form-card .lanoda-datepicker input {
        border: none;
        outline: none;
        height: 45px;
        width: 100%;
        padding: 10px;
        padding-left: 5px; }
    html[class*="page-contact"] .lanoda-form-card .control-area {
      padding: 10px; }
      html[class*="page-contact"] .lanoda-form-card .control-area button {
        float: right;
        margin: 0 5px;
        text-transform: none;
        letter-spacing: 1px; }
        html[class*="page-contact"] .lanoda-form-card .control-area button.submit {
          background-color: #6cc0c0;
          color: #fff; }
        html[class*="page-contact"] .lanoda-form-card .control-area button.cancel {
          color: #6cc0c0; }
  html[class*="page-contact"] .lanoda-tooltip {
    display: none; }
    html[class*="page-contact"] .lanoda-tooltip.lanoda-tooltip--left {
      -webkit-transform: translate3d(-100px, 0, 0);
      transform: translate3d(-100px, 0, 0); }
  html[class*="page-contact"] #addNoteButton {
    position: absolute;
    bottom: 30px;
    right: 30px; }
  html[class*="page-contact"] .noteType-tab {
    border-bottom: 2px solid transparent; }
    html[class*="page-contact"] .noteType-tab .number {
      font-weight: bold; }
    html[class*="page-contact"] .noteType-tab.all.selected {
      border-bottom: 2px solid #999999; }
    html[class*="page-contact"] .noteType-tab.all .number {
      color: #999999; }
    html[class*="page-contact"] .noteType-tab.general.selected {
      border-bottom: 2px solid #1b1464; }
    html[class*="page-contact"] .noteType-tab.general .number {
      color: #1b1464; }
    html[class*="page-contact"] .noteType-tab.like-dislike.selected {
      border-bottom: 2px solid #93278f; }
    html[class*="page-contact"] .noteType-tab.like-dislike .number {
      color: #93278f; }
    html[class*="page-contact"] .noteType-tab.memory.selected {
      border-bottom: 2px solid #7ac1ed; }
    html[class*="page-contact"] .noteType-tab.memory .number {
      color: #7ac1ed; }
    html[class*="page-contact"] .noteType-tab.reminder.selected {
      border-bottom: 2px solid #6cc0c0; }
    html[class*="page-contact"] .noteType-tab.reminder .number {
      color: #6cc0c0; }
    html[class*="page-contact"] .noteType-tab.photo.selected {
      border-bottom: 2px solid #d4bc72; }
    html[class*="page-contact"] .noteType-tab.photo .number {
      color: #d4bc72; }
  html[class*="page-contact"] .note-list-cell {
    height: 150px; }
    html[class*="page-contact"] .note-list-cell.note-general {
      background-color: #1b1464; }
    html[class*="page-contact"] .note-list-cell.note-likedislike {
      background-color: #93278f; }
    html[class*="page-contact"] .note-list-cell.note-memory {
      background-color: #7ac1ed; }
    html[class*="page-contact"] .note-list-cell.note-reminder {
      background-color: #6cc0c0; }
    html[class*="page-contact"] .note-list-cell.note-photo {
      background-color: #d4bc72; }
    html[class*="page-contact"] .note-list-cell .note-tile {
      color: white; }
      html[class*="page-contact"] .note-list-cell .note-tile .note-icon {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        text-align: center; }
        html[class*="page-contact"] .note-list-cell .note-tile .note-icon .material-icons {
          color: white;
          margin-top: 12px; }
      html[class*="page-contact"] .note-list-cell .note-tile .note-title {
        font-size: 20px; }
  html[class*="page-contact"] #createNoteModal .lanoda-form-card {
    width: 500px; }
    html[class*="page-contact"] #createNoteModal .lanoda-form-card .mdl-textfield {
      width: 100%; }
  html[class*="page-contact"] #createNoteModal .menu-icon-wrapper {
    width: 24px;
    height: 48px;
    margin-right: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
    html[class*="page-contact"] #createNoteModal .menu-icon-wrapper .material-icons {
      margin-top: 12px; }

/**************** END CONTACT.SCSS *****************/

/**************** BEGIN NOTE.SCSS ******************/
/**************** END NOTE.SCSS ********************/

/*# sourceMappingURL=compiled.css.map */