/* Primary Colors */
/* Other Colors */
.mdl-layout__drawer .contact-image-wrapper {
  background-color: #999999;
  text-align: center;
  width: 100%;
  height: 190px;
  margin-bottom: 15px;
  box-sizing: border-box; }
  .mdl-layout__drawer .contact-image-wrapper .contact-image {
    width: 100%;
    height: 100%; }
  .mdl-layout__drawer .contact-image-wrapper .contact-icon {
    font-size: 180px;
    color: #4d4d4d; }

.profile-image-background {
  color: #999999;
  margin-top: 20px;
  width: 100%;
  height: 209px;
  padding: 15px;
  box-sizing: border-box; }
  .profile-image-background .shadow-overlay {
    display: none; }
  .profile-image-background:hover .shadow-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%; }
  .profile-image-background .add-image-button {
    background-color: lightgray;
    font-weight: bold;
    height: 36px;
    margin-top: calc(50% - 18px); }
    .profile-image-background .add-image-button:hover {
      background-color: #eaeaea;
      cursor: pointer; }

.profile-image-gray {
  position: relative;
  background-color: lightgray;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 3px; }

.menu-item {
  height: 24px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.contact-list {
  max-width: 1200px; }

.contact-list-cell {
  min-width: 190px;
  text-align: center; }

.contact-tile {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 220px;
  margin: 10px auto;
  cursor: pointer; }
  .contact-tile .contact-image-wrapper {
    background-color: lightgray;
    text-align: center;
    width: 100%;
    height: 190px;
    margin-bottom: 15px;
    box-sizing: border-box; }
    .contact-tile .contact-image-wrapper .contact-image {
      width: 100%;
      height: 100%; }
    .contact-tile .contact-image-wrapper .contact-icon {
      font-size: 180px;
      color: #999999; }
  .contact-tile .contact-plus {
    margin-top: -43px;
    background-color: #93278f; }
  .contact-tile .contact-name {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #93278f;
    box-sizing: border-box; }
  .contact-tile:hover .contact-plus {
    background-color: #bb32b6; }

.lanoda-form-card {
  padding-top: 30px;
  width: 450px; }
  .lanoda-form-card .mdl-textfield {
    min-width: 300px;
    width: 80%; }

.lanoda-tooltip {
  display: none; }
  .lanoda-tooltip.lanoda-tooltip--left {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0); }

#addNoteButton {
  position: absolute;
  bottom: 30px;
  right: 30px; }

.noteType-tab {
  border-bottom: 2px solid transparent; }
  .noteType-tab .number {
    font-weight: bold; }
  .noteType-tab.all.selected {
    border-bottom: 2px solid #999999; }
  .noteType-tab.all .number {
    color: #999999; }
  .noteType-tab.general.selected {
    border-bottom: 2px solid #1b1464; }
  .noteType-tab.general .number {
    color: #1b1464; }
  .noteType-tab.like-dislike.selected {
    border-bottom: 2px solid #93278f; }
  .noteType-tab.like-dislike .number {
    color: #93278f; }
  .noteType-tab.memory.selected {
    border-bottom: 2px solid #7ac1ed; }
  .noteType-tab.memory .number {
    color: #7ac1ed; }
  .noteType-tab.reminder.selected {
    border-bottom: 2px solid #6cc0c0; }
  .noteType-tab.reminder .number {
    color: #6cc0c0; }
  .noteType-tab.photo.selected {
    border-bottom: 2px solid #d4bc72; }
  .noteType-tab.photo .number {
    color: #d4bc72; }

/*# sourceMappingURL=contact.css.map */