/**************** BEGIN APP.SCSS *******************/

// Utilities
@import "resources/assets/sass/utilities/variables";

// Libraries
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* BEGIN Google Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/Material-Icons-v7.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* END Google Material Icons */

/* mdl-layout Customizations */
.mdl-layout--fixed-drawer {
  &:not(.is-small-screen) {
    & > .mdl-layout__header {
      margin-left: 0;
      width: 100%;
    }
  }
}


.mdl-layout__header {
  background-color: $PrimaryMintTeal;

  .mdl-layout-title {
    height: 100%;

    .lanoda-header-logo {

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      padding: 15px;
      height: 100%;
    }
  }

  .mdl-layout__drawer-button {
    box-sizing: border-box;
    margin: 0;
    padding-left: 16px;
    padding-top: 16px;
  }

  .mdl-layout__header-row {
    padding-left: 30px;
    padding-right: 60px;

    .profile-icon {
      .mdl-menu__container.is-visible {
        right: 60px !important;
        margin-top: 5px !important;
      }
    }
  }
}

.mdl-layout.modal-open {

  .background-shadow {
    display: block;
  }

  &.is-small-screen {
    .background-shadow {
        top: -56px;
        height: calc(100% + 56px);
    }
  }

  .mdl-layout__header {
    z-index: 1;
  }

  .mdl-layout__content {
    z-index: 5;    
    overflow-y: visible;
    overflow-x: visible;
  }
}

.mdl-layout__drawer {
  padding: 15px;

  .close-drawer-button {
    display: none;
  }
}

.mdl-textfield__label:after {
  background-color: #fff;
}

.mdl-button--fab.mdl-button--colored {
  background: $SecondaryPurple;

  &:hover {
    background: $SecondaryPurple;
  }
}

.mdl-button--colored {
  color: white;
}


.sub-header {  margin: 20px auto; padding: 0 5% 0 5%; }
.sub-header-title { margin: 0; float: left; height: 48px; line-height: 48px; font-weight: 300; }
.hidden-menu { height: 0; overflow: hidden; -webkit-transition: min-height 0.1s; transition: height 0.1s; &.show { height: 36px; } }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background-shadow {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 5;
  position: absolute;
  top: -64px;
  left: 0;
  height: calc(100% + 64px);
  width: 100%;
}

.modal {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 50%;

  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  -webkit-transition-timing-function: -webkit-cubic-bezier(0.5, 0.8, 0, 1);
  -moz-transition-timing-function: -moz-cubic-bezier(0.5, 0.8, 0, 1);
  transition-timing-function: cubic-bezier(0.5, 0.8, 0, 1);
  -webkit-transform: -webkit-translate3d(-50%, -200%, 0);
  -moz-transform: -moz-translate3d(-50%, -200%, 0);
  transform: translate3d(-50%, -200%, 0);

  &.show {
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.inline-block { display: inline-block; }
.normalize-link { text-decoration: none; color: black; }
.spinner-wrapper { box-sizing: border-box; padding-top: 60px; }
.dotted-button { font-size: 34px; }

.lanoda-expandlist-button { position: relative !important; top: 0; bottom: 0; }
.lanoda-form-card { overflow: visible; }
.lanoda-hide { display: none; }
.lanoda-left { float: left; }
.lanoda-right { float: right; }

.align-vertical-top { vertical-align: top; }
.align-vertical-middle { vertical-align: middle; }
.align-vertical-bottom { vertical-align: bottom; }

.text-capitalize { text-transform: uppercase; }
.text-bold { font-weight: bold; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-black { color: black; }
.text-white { color: white; }
.text-darkgray { color: $DarkGray; }

@media(min-width: 1025px) {
  .mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__drawer {
    margin-top: 80px;
    height: calc(100% - 80px);
  }

  .mdl-layout__header {
    min-height: 80px;

    .mdl-layout__drawer-button {
      display: none;
    }

    .mdl-layout__header-row {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

@media(max-width: 1024px) {
  .mdl-layout--fixed-drawer {
    & > .mdl-layout__drawer {
      margin-top: 0;
      height: 100%;
    }
  }
  .mdl-layout__header {
    .mdl-layout__header-row {
      padding-left: 50px;
      
      .search-bar {
        form {
          margin: 0;
        }
        .mdl-textfield {
          padding-top: 16px;
        }
      }
    }
  }
  .mdl-layout__drawer {
    .close-drawer-button {
      display: inline;
    }
  }
}
/**************** END APP.SCSS *********************/
