/**************** BEGIN AUTH.SCSS ******************/

// Utilities
@import "resources/assets/sass/utilities/variables";


html[class*="page-auth"] {

	/* Put background Image up */
	background-image: url('/img/background/login-signup.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;



	/* Begin Styling actual content */
	.page-content {
		height: 100%;

		&:before {
			content: " ";

			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(255,255,255,0.1);
			height: 100%;
			width: 100%;
		}
	}

	.mdl-layout__header {
		border-bottom: 6px solid #fff;
	}

	.mdl-layout__content {
		.page-content {
			height: calc(100% - 86px);
		}
	}

	/* Form-Styles */
	.center-horizontal {
		height: 100%;
		width: 400px;
		max-width: 95%;
		margin: 0 auto;
	}

	.center-vertical {
		display: inline-block;
		width: 100%;

		&:before {
			content: " ";
			display: block;
		}

		&.login {
			&:before {
				height: calc(50% - 250px);
			}
		}

		&.signup {
			&:before {
				height: calc(50% - 315px);
			}
		}

		form {
			margin-bottom: 0;
		}
	}

	.lanoda-textfield {
		margin-bottom: 20px;
		border-bottom: 1px solid white;

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			background: none;
			border: none;
			width: 100%;
			outline: none;
			padding: 10px;
			padding-left: 0;
			color: white;
			font-size: 16px;
		}
	}

	.lanoda-checkbox {
		margin-top: 25px;
	}

	.error-message {
		margin-bottom: 20px;
		padding: 10px 5px;
		background-color: #950a00;
		border: 2px solid #af0c00;
	}

	.lanoda-card {
		box-shadow:  0 0 4px rgba(0, 0, 0, 0.6);
		background: rgba(0, 0, 0, 0.6);
		color: white;
		margin-bottom: 88px;

		.bordered-area {
			border: 1px solid #6cc0c0;
			padding: 45px;
		}

		.control-area {
			border: 1px solid #6cc0c0;
			border-top: none;

			button {
				&:hover {
					cursor: pointer;
				}

				display: inline-block;

				width: 50%;
				padding: 8px;

				border: none;
				outline: none;

				line-height: 20px;
				font-size: 20px;
				font-weight: 600;
				text-transform: lowercase;

				vertical-align: baseline;
				border-radius: 0;
			}
		}

		.submit-button {
			background-color: white;
			color: #6cc0c0;

			margin-left: -2px;

			&:hover {
				background-color: rgba(255, 255, 255, 1);
			}
		}

		.cancel-button {
			background-color: #6cc0c0;
			color: white;

			margin-right: -2px;

			&:hover {
				background-color: rgba(108, 192, 192, 1);
			}
		}
	}


	.mdl-checkbox {

		&.is-checked .mdl-checkbox__box-outline {
			border-color: #6cc0c0;
		}

		&.is-checked .mdl-checkbox__box-outline .mdl-checkbox__tick-outline {
			background-color: #6cc0c0;
		}

		.mdl-checkbox__box-outline {
			border: 2px solid;
			border-color: white;
		}

		.mdl-checkbox__ripple-container .mdl-ripple {
			background: #93278f;
		}
	}
	/* END Form-Styles */


	@media(max-width: 1024px) {
		.mdl-layout__content {
			.page-content {
				height: calc(100% - 62px);
			}
		}
		.lanoda-card {

			.bordered-area {
				padding: 10%;
			}
		}
	}
}

/**************** END AUTH.SCSS ********************/

