/**************** BEGIN CONTACT.SCSS ***************/

// Utilities
@import "resources/assets/sass/utilities/variables";


html[class*="page-contact"] {

	.mdl-layout__drawer {
		.contact-image-wrapper {
			background-color: $LightGrey;
			text-align: center;
			width: 100%;
			height: 190px;
			margin-bottom: 15px;
			box-sizing: border-box;

			.contact-image {
				width: 100%;
				height: 100%;
			}

			.contact-icon {
				font-size: 180px;
				color: $DarkGray;
			}
		}
	}

	.profile-image-background {
		color: #999999;
		margin-top: 20px;
		width: 100%;
		height: 209px;
		padding: 15px;
		box-sizing: border-box;

		.shadow-overlay {
			display: none;
		}

		&:hover {
			.shadow-overlay {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.6);
				height: 100%;
				width: 100%;
			}
		}

		.add-image-button {
			background-color: lightgray;
			font-weight: bold;
			height: 36px;
			margin-top: calc(50% - 18px);

			&:hover {
				background-color: #eaeaea;
				cursor: pointer;
			}
		}
	}

	.profile-image-gray {
		position: relative;
		background-color: lightgray;
		height: 100%;
		width: 100%;
		overflow: hidden;
		border-radius: 3px;
	}

	.menu-item {
		height: 24px;
		margin-bottom: 5px;
		
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.contact-list {
		max-width: 1200px;
	}

	.contact-list-cell {
		min-width: 190px;
		text-align: center;
	}

	.contact-tile {
		position: relative;
		display: inline-block;
		width: 190px;
		height: 220px;
		margin: 10px auto;
		cursor: pointer;

		.contact-image-wrapper {
			background-color: $PaleGray;
			text-align: center;
			width: 100%;
			height: 190px;
			margin-bottom: 15px;
			box-sizing: border-box;

			.contact-image {
				width: 100%;
				height: 100%;
			}

			.contact-icon {
				font-size: 180px;
				color: $LightGrey;
			}
		}

		.contact-plus {
			margin-top: -43px;
			background-color: $SecondaryPurple;
		}

		.contact-name {
			text-align: center;
			width: 100%;
			font-size: 18px;
			color: $SecondaryPurple;
			box-sizing: border-box;
		}

		&:hover {
			.contact-plus {
				background-color: $SecondaryPurpleLight;
			}
		}
	}

	.modal {
		background-color: #fff;
		box-shadow: 0 0 8px 2px #3a3a3a;
		padding: 20px;

		.heading {
			text-align: left;
			margin-top: 0;
			margin-left: 15px;
			color: $PrimaryMintTeal;
			font-weight: 600;
		}
	}

	.lanoda-form-card {
		width: 450px;
		max-width: 100%;

		.lanoda-textfield {
			border-bottom: 1px solid $DarkGray;

			input {
				color: black;
			}
		}

		.lanoda-number {
			border-bottom: 1px solid $DarkGray;

			input {
				border: none;
				outline: none;

				height: 45px;
				width: 100%;

				padding: 10px;
				padding-left: 5px;
			}
		}

		.lanoda-datepicker {
			border-bottom: 1px solid $DarkGray;

			input {
				border: none;
				outline: none;

				height: 45px;
				width: 100%;

				padding: 10px;
				padding-left: 5px;
			}
		}

		.control-area {
			padding: 10px;

			button {
				float: right;
				margin: 0 5px;

				text-transform: none;
				letter-spacing: 1px;

				&.submit {
					background-color: $PrimaryMintTeal;
					color: #fff;
				}

				&.cancel {
					color: $PrimaryMintTeal;
				}
			}
		}
	}

	.lanoda-tooltip {
		display: none;

		&.lanoda-tooltip--left {
			transform: translate3d(-100px, 0, 0);
		}
	}

	#addNoteButton {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}


	.noteType-tab {

		border-bottom: 2px solid transparent;
		.number {
			font-weight: bold;
		}

		&.all {

			&.selected {
				border-bottom: 2px solid $LightGrey;
			}

			.number {
				color: $LightGrey;
			}
		}

		&.general {

			&.selected {
				border-bottom: 2px solid $DarkBlue;
			}

			.number {
				color: $DarkBlue;
			}
		}

		&.like-dislike {

			&.selected {
				border-bottom: 2px solid $SecondaryPurple;
			}
			
			.number {
				color: $SecondaryPurple;
			}
		}

		&.memory {

			&.selected {
				border-bottom: 2px solid $LightBlue;
			}
			
			.number {
				color: $LightBlue;
			}
		}

		&.reminder {

			&.selected {
				border-bottom: 2px solid $PrimaryMintTeal;
			}
			
			.number {
				color: $PrimaryMintTeal;
			}
		}

		&.photo {

			&.selected {
				border-bottom: 2px solid $DarkGold;
			}
			
			.number {
				color: $DarkGold;
			}
		}
	}

	/* Note styles */

	.note-list-cell {
		height: 150px;

		&.note-general { background-color: $DarkBlue; }
		&.note-likedislike { background-color: $SecondaryPurple; }
		&.note-memory { background-color: $LightBlue; }
		&.note-reminder { background-color: $PrimaryMintTeal; }
		&.note-photo { background-color: $DarkGold; }

		.note-tile {
			color: white;

			.note-icon {
				height: 48px;
				width: 48px;
				border-radius: 24px;
				text-align: center;

				.material-icons {
					color: white;
					margin-top: 12px;
				}
			}

			.note-title {
				font-size: 20px;
			}
		}
	}

	#createNoteModal {

		.lanoda-form-card {
			width: 500px;

			.mdl-textfield {
				width: 100%;
			}
		}
		
		.menu-icon-wrapper {
			width: 24px;
			height: 48px;
			margin-right: 5px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;

			.material-icons {
				margin-top: 12px;
			}
		}
	}
}

/**************** END CONTACT.SCSS *****************/

