html {
	background-image: url('/img/background/login-signup.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.page-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
}

.lanoda-form-card {

	&.mdl-card {
	  width: 512px;
	  margin: 0 auto;
	}

	> .mdl-card__title {
	  color: #fff;
	  height: 250px;
	  background: url('/img/lanoda-app-icon.png') center / cover;
	}

	> .mdl-card__menu {
	  color: #fff;
	}

	form {
		text-align: center;
		margin: 0 auto;
		margin-bottom: 40px;
		width: 300px;
	}

	form .mdl-textfield {
		margin-top: 15px;
	}

	form .mdl-checkbox {
		margin: 25px 0 20px 0;
		text-align: left;
	}
}
