
.note-list-cell {
	height: 150px;

	&.note-general { background-color: #6cc0c0; }
	&.note-likedislike { background-color: purple; }
	&.note-memory { background-color: blue; }
	&.note-reminder { background-color: lightblue; }
	&.note-photo { background-color: pink; }

	.note-tile {
		color: white;

		.note-icon {
			height: 48px;
			width: 48px;
			border-radius: 24px;
			text-align: center;

			.material-icons {
				color: white;
				margin-top: 12px;
			}
		}

		.note-title {
			font-size: 20px;
		}
	}
}

#createNoteModal {

	.lanoda-form-card {
		width: 500px;

		.mdl-textfield {
			width: 100%;
		}
	}
	
	.menu-icon-wrapper {
		width: 24px;
		height: 48px;
		margin-right: 5px;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;

		.material-icons {
			margin-top: 12px;
		}
	}
}


